* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    /* font-size: 3rem; */
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}

.img {
    height: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}

.img:hover {
    background-color: black;
    cursor: pointer;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 2rem;
    margin-top: 3rem;
}
#user-score,
#camp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    display: inline;
    background-color: #081b31;
    color: #fff;
    border-radius: 1rem;
    /* height: 5rem;
    line-height: 5rem; */
    font-size: 2rem;
    padding: 1rem;
}